bin/Debug/*
bin/Release/*
.vscode/settings.json
.vs/ADSWebAPI/FileContentIndex/470ffcb2-be13-45ae-a217-001466b034ad.vsidx
.vs/ADSWebAPI/FileContentIndex/73087e08-628a-4ccf-af74-6b6812a4fbc0.vsidx
.vs/ADSWebAPI/FileContentIndex/88be9693-d890-4964-ad9c-4c26b00f59c0.vsidx
.vs/ADSWebAPI/FileContentIndex/c4527233-a337-453e-aa18-245f0f8db9fa.vsidx
.vs/ADSWebAPI/FileContentIndex/d603aa73-e0cf-4bbc-ae6b-fe2053ae3bee.vsidx
.vs/ADSWebAPI/FileContentIndex/fffe2933-00b9-481a-b687-662c54dbb395.vsidx
.vs/ADSWebAPI/FileContentIndex/25d19f0f-775a-413b-8163-ceecb907b03c.vsidx
.vs/ADSWebAPI/FileContentIndex/c422db3a-6de2-4214-8c6b-9674081582eb.vsidx
.vs/ADSWebAPI/FileContentIndex/2ed82b83-b3fe-4fae-8fee-8de786f8f31b.vsidx
.vs/ADSWebAPI/FileContentIndex/d77cfd44-e1b0-475f-9d93-185a7820b575.vsidx

.vs/ADSWebAPI/FileContentIndex/b099ad0a-4c0f-4d41-b506-7f9d7345b0ff.vsidx
.vs/ADSWebAPI/FileContentIndex/dfcdc60b-2cc9-4e7d-bea8-150480bdea3b.vsidx
.vs/ADSWebAPI/v17/.futdcache.v2
.vs/ADSWebAPI/v17/.futdcache.v2
.vs/ADSWebAPI/v17/.futdcache.v2
.vs/ProjectEvaluation/adswebapi.metadata.v8.bin
.vs/ProjectEvaluation/adswebapi.strings.v8.bin
.vs/ProjectEvaluation/adswebapi.strings.v8.bin
.vs/ProjectEvaluation/adswebapi.projects.v8.bin
.vs/ProjectEvaluation/adswebapi.metadata.v8.bin
.vs/ProjectEvaluation/adswebapi.metadata.v8.bin
.vs/ADSWebAPI/FileContentIndex/4d6d10c5-6a6f-4375-95d5-239c11879b95.vsidx
.vs/ADSWebAPI/FileContentIndex/36dccbf0-c734-4275-bc32-0d7c923f6d61.vsidx
obj/Debug/net6.0/ADSWebAPI.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/ADSWebAPI.AssemblyInfo.cs
.vs/ADSWebAPI/FileContentIndex/c0096c11-b395-4563-ab9a-e8ffbf34f2ec.vsidx
